{% extends "foundation/base.html" %}
{% load foundation_tags %}

{% block css %}
    {% foundation_css 'foundation-icons' %}
{% endblock css %}


{% block base_body %}

    <div class="row">
      <div class="large-12 columns">
        <h1>An opportunity to volunteer at NNLS</h1>
        {% if is_claimed %}
            <p>You have volunteered for this! Thanks.</p>
        {% else %}
            <form action="#" method="post">
                {% csrf_token %}
                <input type="submit" class="small button" value="Claim this opportunity"></input>
            </form>
        {% endif %}
        {% include 'volunteering/includes/duty_details.html' %}
      </div>
    </div>

{% endblock base_body %}
