{% extends "foundation/base.html" %}
{% load foundation_tags %}

{% block css %}
    {% foundation_css 'foundation-icons' %}
{% endblock css %}


{% block base_body %}

    <div class="row">
      <div class="large-12 columns">
          <h1>{{ volunteer.initials }}, will you volunteer for this?</h1>
        {% if is_claimed %}
            <p>You have volunteered for this! Thanks.</p>
            {% include 'volunteering/includes/duty_details.html' %}
        {% else %}
            {% include 'volunteering/includes/duty_details.html' %}
            <form action="#" method="post">
                {% csrf_token %}
                <input type="submit" class="small button" value="Click to volunteer for this"></input>
            </form>
        {% endif %}
      </div>
    </div>

{% endblock base_body %}
