{% extends "foundation/base.html" %}
{% load foundation_tags %}

{% block css %}
    {% foundation_css 'foundation-icons' %}
{% endblock css %}


{% block base_body %}
<div class="row">
    <div class="large-12 columns">
        <h1>Volunteer at NNLS</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        {% if is_claimed %}
        <div class="panel">
            <h4>Thanks {{volunteer.initials}} for volunteering for this role!</h4>
            <p>It would be helpful if you would volunteer for more.</p>
            <a class="small button" href="{{ volunteer.get_absolute_url }}">Click to Continue</a>
        </div>
        {% include 'volunteering/includes/duty_details.html' %}
    {% else %}
        <div class="panel">
            <h4>{{ volunteer.initials }}, will you volunteer for this role?</h4>
            <p>Your help will be much appreciated.</p>
            <form action="#" method="post">
                {% csrf_token %}
                <input type="submit" class="small button" value="Click to sign up"></input>
            </form>
        </div>
        {% include 'volunteering/includes/duty_details.html' %}
    {% endif %}
    </div>
</div>

{% endblock base_body %}
