{% extends "foundation/base.html" %}
{% load foundation_tags %}

{% block title %}
NNLS Volunteering: Import
{% endblock %}

{% block css %}
    {% foundation_css 'foundation-icons' %}
{% endblock css %}


{% block base_body %}

    <div class="row">
      <div class="large-12 columns">
        <h1>Import volunteer information</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-8 medium-8 columns">
          <h5>Copy and paste excel records</h5>
          <p>The following fields are used. Order is not important.</p>
          <ul>
              <li>'title': record['TITLE'],</li>
              <li>'first_name': record['FIRSTNAMES'],</li>
              <li>'surname': record['SURNAME'],</li>
              <li>'dear_name': record['DEARNAMES'],</li>
              <li>'external_id': record['MEMBER ID'],</li>
              <li>'email_address': record['EMAIL'],</li>
              <li>'home_phone': record['HOME'],</li>
              <li>'mobile_phone': record['MOBILE'],</li>
          </ul>
          
          <form action="{% url 'volunteering:import' %}" method="post">
              {% csrf_token %}
              <div class="row">
              <div class="large-12 columns">
                  <label>List of volunteer records</label>
                  <textarea name="csv" placeholder="Copy the list of volunteers here." ></textarea>
              </div>
              </div>
              <input type="submit" class="small button" value="Import"></input>
          </form>
        </div>     
{% endblock base_body %}
