{% extends "foundation/base.html" %}
{% load foundation_tags %}
{% load staticfiles %}

{% block css %}
  {% foundation_css 'foundation-icons' %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock css %}


{% block base_body %}
  <div class="row">
    <div class="large-12 columns">
      <h1>Volunteer at NNLS</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
    	<div class="panel">
        <h3>How do you want to help?</h3>
        <p>Here are the roles for which NNLS could use your help. Please choose at least one, but feel free to claim more.</p>
    	</div>
    </div>
  </div>

  <div class="row">
    <div id="duties" class="large-8 medium-8 columns">
      {% for campaign in campaigns %}
        <div class="row campaign">
          <h3>{{ campaign.name }}</h3>
          <ul class="no-bullet">
            {% for duty in campaign.duty_set.all %}
              <li><a href="{% url 'volunteering:duty' campaign_slug=campaign.slug duty_slug=duty.slug volunteer_slug=volunteer.slug %}"
                     class="duty button radius tiny">Claim</a> {{duty.name}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock base_body %}
